<!-- [ Header ] start -->
<!-- datepicker js -->
<script src="~/Content/assets/js/plugins/moment.min.js"></script>
<script src="~/Content/assets/js/plugins/daterangepicker.js"></script>
<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">

    <div class="collapse navbar-collapse">

        <a href="/Announcement"><img style="margin-left: 20px" height="53px" src="~/Content/assets/images/logo1.PNG" /></a>
        <input class="form-control companyList basicAutoComplete" placeholder="Search companies" type="text" style="width: 200px" autocomplete="off">
        <label class="lblClearSearch" style="cursor: pointer; font-weight: 700;margin-top: 11px;color: #4680ff; display: none">x</label>
        <b class="vl">|</b>
        <label class="lblShowAll" style="color: #4680ff; font-weight: 600;">
            <div class="switch switch-primary d-inline m-r-10">
                <input type="checkbox" class="ShowAll" id="switch-p-2">
                <label for="switch-p-2" class="cr"></label>
            </div>
            <b>Show All</b>
        </label>
        <b class="vl">|</b>
        <label class="mt-3 lblSelectDate" style="color: #4680ff;"><b>Select Date</b></label>
        <input style="width: 210px;display: inline-block;font-weight: 600;padding-top: 21px;" type="text" placeholder="Select date range" name="daterange" class="form-control dtCtrl" value="" />
        <b class="vl">|</b>
        <select id="selectTimeSlot">
            <option value="1">Till 9 PM</option>
            <option value="2">Between 9 PM to 11 PM</option>
            <option value="3">Between 11 PM to Midnight</option>
        </select>
        <b class="vl">|</b>
        <label class="lblShowFav" style="color: #4680ff; font-weight: 600;">
            <div class="switch switch-primary d-inline m-r-10">
                <input type="checkbox" class="showfav" id="switch-showfav">
                <label for="switch-showfav" class="cr"></label>
            </div>
            <b>Show favourite</b>
        </label>
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user" style="background: cornflowerblue">
                    <a href="/Dashboard" class="dropdown-toggle">
                        <i class="feather icon-home"></i>
                    </a>

                </div>
            </li>
            <li>
                <div class="dropdown drp-user" style="background: cornflowerblue">
                    <a href="/Login" class="dropdown-toggle">
                        <i class="feather icon-log-in"></i>
                    </a>

                </div>
            </li>
        </ul>
    </div>
</header>
<link href="~/Content/assets/css/plugins/select2.min.css" rel="stylesheet" />
<script src="~/Content/bootstrapautocomplete/dist/latest/bootstrap-autocomplete.js"></script>
<script src="~/Content/assets/js/plugins/select2.full.min.js"></script>
<script>
    var startDate;
    var endDate;
    function resetTimeSlot() {
        $('#selectTimeSlot').val(''); // Select the option with a value of 'US'
        $('#selectTimeSlot').trigger('change');
    }

    $(document).ready(function () {

        $('#selectTimeSlot').select2({
            placeholder: {
                id: '-1', // the value of the option
                text: 'Select Time Slot'
            },
            allowClear: true
        });

        $('#selectTimeSlot').val(''); // Select the option with a value of 'US'
        $('#selectTimeSlot').trigger('change');  

        $('input[name="daterange"]').daterangepicker({
            opens: 'right'
        }, function (start, end, label) {

            startDate = new Date(start).toDateString();
            endDate = new Date(end).toDateString();
        });

  
        $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
            $('.showfav').prop('checked', false);
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            var sDt = new Date(picker.startDate).toDateString();
            var eDt = new Date(picker.endDate).toDateString();

            startDate = sDt;
            endDate = eDt;
            resetTimeSlot();
            ShowView(sDt, eDt);
        });

        $('#selectTimeSlot').on('select2:select', function (e) {
            var sDt = $('input[name="daterange"]').data('daterangepicker').startDate._d.toDateString();
            var eDt = $('input[name="daterange"]').data('daterangepicker').endDate._d.toDateString();

            ShowView(sDt, eDt, $(this).val());
        });

        $('#selectTimeSlot').on('select2:clear', function (e) {
            var sDt = $('input[name="daterange"]').data('daterangepicker').startDate._d.toDateString();
            var eDt = $('input[name="daterange"]').data('daterangepicker').endDate._d.toDateString();

            ShowView(sDt, eDt, $(this).val());
        });

        function ShowView(sDt, eDt, timeSlot) {

            $.ajax({
                url: getAnnouncementView + "?CompanyName=" + $('.companyList').val() +
                    "&ShowAll=" + $('.ShowAll').is(':checked') +
                    "&DateRange=" + sDt + "|" + eDt + "&showFav=" + $('.showfav').is(':checked') + '&timeSlot='+timeSlot,
                type: 'GET',
                beforeSend: function () {
                    $.blockUI();
                },
                success: function (data) {
                    $('.AnnouncementView').empty().html(data);
                },
                error: function () { },
                complete: function () {
                    $.unblockUI();
                }
            });
        }
    });

    $('.basicAutoComplete').autoComplete({
        resolver: 'custom',
        events: {
            search: function (qry, callback) {
                
                $('.lblClearSearch').show();
                $('.bootstrap-autocomplete .dropdown-menu').empty();
                ///var xx = $('input[name="daterange"]').daterangepicker().val().split("-")
                var dtFrm = (new Date($('.dtCtrl').data('daterangepicker').startDate._d)).toISOString();
                var dtTo = (new Date($('.dtCtrl').data('daterangepicker').endDate._d)).toISOString();
                startDate = dtFrm;
                endDate = dtTo;

                var dtRange = dtFrm + "|" + dtTo;

                $.ajax(
                    '@Url.Content("~/Announcement/GetCompanies?=")' + $('.ShowAll').is(':checked'),
                    {
                        data: { q: qry, ShowAll: $('.ShowAll').is(':checked'), Daterange: dtRange }
                    }
                ).done(function (res) {
                    callback(res)
                });
            }
        }
    });

    $('.basicAutoComplete').on('autocomplete.select', function (evt, item) {
        resetTimeSlot();

        var xx = $('input[name="daterange"]').val().split("-")
        if (xx.length == 1)
            dtRange = new Date().toDateString() + "|" + new Date().toDateString();
        else
            dtRange = new Date(xx[0].trim()).toDateString() + "|" + new Date(xx[1].trim()).toDateString();

        $.ajax({
            url: getAnnouncementView + "?CompanyName=" + $(this).val() + "&ShowAll=" + $('.ShowAll').is(':checked') + "&DateRange=" + dtRange,
            type: 'GET',
            beforeSend: function () { $.blockUI(); },
            success: function (res) {
                $('.AnnouncementView').empty();
                $('.AnnouncementView').html(res);
            },
            error: function () { },
            complete: function () { $.unblockUI()}
        });

    });
</script>