<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light navbar-collapsed">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item pcoded-menu-caption">
                    <label>Parivesh</label>
                    <ul class="pcoded-submenu">
                        <li><a href="/Central">Watchlist Company</a></li>
                        <li><a href="/State">Category</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->